<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--This is the default database configuration to use in this tests, you can change the connection string-->
    <add name="Microsoft.Samples.NLayerApp.Infrastructure.Data.MainBoundedContext.UnitOfWork.MainBCUnitOfWork"
         providerName="System.Data.SqlClient"
         connectionString="Server=.\SQLEXPRESS;Initial Catalog=DBMainBoundedContextTests;Integrated Security=true;MultipleActiveResultSets=True"/>
  </connectionStrings>
</configuration>